# SUPABASE: Connection details for Supabase backend
VITE_SUPABASE_URL="https://crxmpzvxvormtebimbbm.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNyeG1wenZ4dm9ybXRlYmltYmJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMDk0MjMsImV4cCI6MjA5NjU4NTQyM30.CkB4j4dz4lRRtCEx4NxfitOz4WgtNHu6heoriDCJXBE"
